.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/******* ALL ********/
@import url('https://fonts.googleapis.com/css?family=Ribeye|Nanum+Brush+Script|Special+Elite');

* {
    background-color: hsl(50, 47%, 85%);
}

a,a:visited,a:hover,a:active{
	transition:0.5s color ease, 0.5s text-decoration ease;
	text-decoration:none;
	color:hsl(144, 27%, 33%);
}
a:visited{
	color:purple;
}
a:hover{
	color:red;
}

/**************App.js - Site name and navigation bar ************/
.App header h1{
  font-family: 'Ribeye', 'impact';
  background-color: hsl(50, 39%, 53%);
  color: hsl(50, 47%, 85%);
  font-size: 4em;
  padding-top: 0.1em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.App header nav{
  height: 3.1em;
  border-bottom: 5px solid hsl(144, 27%, 33%);
  margin-top: 1em;
  margin-bottom: 0.2em;
}

.App header nav div{
  font-family: 'Special Elite', 'sans serif';
  font-size: 2em;
  top: 1em;
  color: darkgray;
  text-align: center;
  width: 50%;
  float: left;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.App header .link2landing a, .App header .link2library a{
  display: block;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border-left: 1px solid hsl(102, 70%, 70%);
  border-right: 1px solid hsl(102, 70%, 70%);
  border-top: 1px solid hsl(102, 70%, 70%);
  line-height: 1.5;
  background-color: white;
}
.App header .link2landing a:focus, .App header .link2library a:focus {
  background-color: hsla(144, 27%, 33%, 50%);
}

/*****************Landing page***************/

.landing h1 {
  font-family: 'Nanum Brush Script', 'Cursive';
  color: hsl(102, 19%, 27%);
  font-size: 3em;
  height: 3em; /*to prevent the sections below to shift*/
  animation-name: turn-up-music;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes turn-up-music {
  from { font-size: 1em; }
  to { font-size: 4em; }
}

.landing .point {
  position: relative;
  width: 80%;
  left: 10%;
  background-color: hsl(50, 37%, 91%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3.5em;
}

.landing .selling-points .point h2 {
  font-family: 'Special Elit', 'Courier';
  font-size: 2em;
  text-align: left;
  font-weight: lighter;
  color: red; /*hsl(51, 39%, 32%);*/
  text-shadow: 0 0 2px #000000;
  margin-bottom: 0.1em;
  margin-left: 1em;
  background-color: hsl(50, 37%, 91%);
}

.selling-points .point:nth-of-type(1){ width: 50%; left: 15%; }
.selling-points .point:nth-of-type(2){ width: 75%; left: 15%; }
.selling-points .point:nth-of-type(3){ width: 60%; left: 15%; }

.landing .point-description {
  font-family: 'Special Elite', 'Courier';
  font-size: 1.5em;
  text-align: left;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 1em;
  line-height: 1.5;
  background-color: hsl(50, 37%, 91%);
}

/****************Library page*************/

.library {
  font-family: 'Special Elite', 'Courier';
}
.library a div:nth-of-type(1) {
  font-size: 1.5em;
}
.library a div:nth-of-type(2) {
    font-weight: bolder;
}

/********* Album page *************/

.album {
  overflow: scroll;
  padding: 0 6em 3em 6em;
}

#album-info {
  position: relative;
  width: 100%;
  margin-bottom: -0.5em;
}

#album-cover-art {
  position: relative;
  left: 0%;
  top: 1%;
  width: 100%;
  opacity: 1;
}

/* album title banner */

.album-details {
  position: relative;
  left: 0%;
  top: -15em;
  text-align: center;
  color: white;
  width: 100%;
  background-color: hsla(280,100%,20%,0.5);
}

.album-details #album-title, .album-details .artist, .album-details #release-info{
  background: none;
  font-family: 'Special Elite', 'Courier';
}
.album-details #album-title {
  padding-top: 0.2em;
  font-size: 1.75em;
  font-weight: bold;
}
.album-details .artist {
  font-size: 1.75em;
  font-weight: lighter;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.album-details #release-info {
  font-size: 1.25em;
  padding-bottom: 0.2em;
}

/* player buttons */

.player-bar{
  position: relative;
  top: -14em;
  left:10%;
  width: 80%;
  height: 3em;
  background: none;
}

.player-bar > * {
  background: radial-gradient(darkgray, gray, lightgray);
  border-radius: 10px;
  border-style: outset;
  display: inline-block;
}

#previous, #play-pause, #next {
    height: 2em;
}

.player-bar span {
  background: none;
}
.current-bar-val {
  color: white;
  font-size: 0.9em;
  font-family: 'Candara', 'Courier';
  background: none;
}
#buttons {
  width: 30%;
}
#time-control {
  width: 30%;
  left: 28%;
}
#volume-control {
  width: 30%;
  left: 70%;
}

/* song list table */
#song-list{
  width: 65%;
  border-collapse: collapse;
  border-left: hsl(144, 27%, 33%) solid 6px;
  position: relative;
  left:15%;
  top: -2em;
}
#song-list td {
    border-bottom: 1px dotted #fff;
    text-align: left;
}
#song-list .ion-play {
  background: none;
}

#song-list .songNumCell{
  width: 15%;
  padding-left: 0.4em;
}
#song-list .songTitleCell{
  width: 88%;
}
#song-list .songDurationCell{
  width: 25%;
  text-align: right;
}
/*#song-list tr:nth-child(even) td{
  background-color: lightgray;
}*/
#song-list tr:hover {
  border: 1px solid hsl(144, 27%, 33%);
}
#song-list tr:hover td{
    background-color: #ffffff;
}
/* play-pause-track logo toggle */
.songNumCell .ion-play {
  display: none;
}
.songNumCell #just-play {
  display: inline;
}
.songRow:hover .songNumCell .trackNumber{
    display: none;
}
.songRow:hover .songNumCell .ion-play{
  display:inline;
}
